{%extends 'main.html'%}

{%block content%}

    <style>

        .home-container
        {
            display: grid;
            grid-template-columns:1fr 3fr;
        }

    </style>

    <div class="home-container">
        <div>
            <h2>Topic</h2>
            <hr>
            <p><a href="{%url 'home'%}">All</a></p>
            {% for topic in topics %}
                <p><a href="{%url 'home'%}?q={{topic.name}}/x=1">{{topic.name}}</a>&nbsp&nbsp&nbsp{{topic_count}}</p>
            {%endfor%}
        </div>
        <div>
            <h3>welcome to home page of chat room</h3>
            <h5>{{room_count}}rooms available for you</h5>
            <p><a href="CreateRoom/">create new room</a></p>
            <hr>
            {%for room in rooms%}
            <div>
                <h4>
                    {%if request.user == room.host%}
                    <span><a href="{%url 'updateRoom'%}?ID={{room.id}}">edit</a></span>&nbsp&nbsp&nbsp
                    {%endif%}
                    {%if request.user == room.host%}
                    <a href="deleteRoom/{{room.id}}">delete</a>
                    {%endif%}
                    <p>@{{room.host.username}}</p>
                    {{room.id}} -- <a href="room/{{room.id}}">{{room.name}}</a>
                    <p>{{room.topic}}</p>
                    <hr>
                </h4>
            </div>
            {%endfor%}
        </div>
    </div>
{%endblock%}