{%extends 'main.html'%}
{%block content%}
<h1>welcome to home page of chat room</h1>
<p><a href="{% url 'CreateRoom' %}">to create new room</a></p>
<hr>
{%for room in rooms%}
    <div>
        <h4>
            <p>@{{room.host}}<span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href='updateRoom/{{room.id}}'>edit</a></span></p>
            <p><a href="deleteRoom/{{room.id}}">delete</a></p>
            {{room.id}} -- <a href="room/{{room.id}}">{{room.name}}</a>
            <p>{{room.topic}}</p>
            <hr>
        </h4>
    </div>
{%endfor%}

{%endblock%}